#connection-overview {

  position: fixed;
  top: 30px;
  right: 30px;
  padding: 13px 20px;
  background-color: white;
  border-radius: 7px;

  display: flex;
  pointer-events: none;

  input {

    pointer-events: auto;

  }

  *:not(input) {

    pointer-events: none;

    &.roomid .value {

      pointer-events: auto;
      -webkit-touch-callout: text;
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;

    }

  }

  & > span {

    margin-left: 35px;

    b {

      margin-left: 8px;

    }

  }

  input, span, b {

    background-color: transparent;
    border: none;
    font-family: monospace;
    display: flex;
    text-align: right;

  }

  @keyframes red-blink {
    0%   {background-color: #ffb5b5;}
    50%  {background-color: #ffefef;}
    100% {background-color: #ffb5b5;}
  }

  input:invalid {

    animation-name: red-blink;
    animation-duration: 10s;
    animation-iteration-count: 12;
    background-color: #ffb5b5;

  }


}