* {

  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  color: rgb(41, 41, 41);

  box-sizing: border-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.gui-container {

  .wrapper {

    padding: 24px;
    border-radius: 12px;

    background-color: transparent;
    backdrop-filter: blur(15px) contrast(85%);
    -webkit-backdrop-filter: blur(15px) contrast(85%);

  }

  .gui-button {

    border: none;

    cursor: pointer;
    background-color: transparent;

    &:hover, &:focus {
      background-color: rgba(0, 0, 0, 0.1);
      outline: none;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.2);
    }

  }

}

#hidden_export_link {

  pointer-events: none;
  font-size: 0;
  color: transparent;
  display: none;
  visibility: hidden;

}

#mirrored-cursor {

  display: none;

}

body.mirrored {

  #mirrored-cursor {

    display: block;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 60px;
    background-image: url("../assets/cursor.svg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 50px;

    background-color: transparent;

    transform: translate(0vh, 0vh);


  }


  #renderer {

    pointer-events: none !important;

  }

  #toolbox, #objectbox {

    opacity: 0 !important;
    pointer-events: none !important;

  }

  #toolbox {

    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    bottom: 30px;

    * {

      height: 0 !important;
      padding: 0 !important;
      margin: 0 !important;

    }

  }

  #button-deleteAll, #import {

    display: none !important;

  }

}